## 03-3 for문
 - 시작 리스트 등 명시
 - for문 명시
 - 결과

#### 1. for문의 사용

In [ ]:
a = [1,2,3,4,5,6]
for i in a :
    print(i, end = " ")

1 2 3 4 5 6

In [ ]:
a = [('a',1), ('b',2), ('c',3)]
for (first, last) in a :
    print(first, last, end = ", ")

a 1, b 2, c 3,

In [ ]:
marks = [90, 25, 67, 45, 80]
number = 0
for mark in marks :
    number = number + 1
    if mark >= 60 :
        print ('%d님은 합격입니다.' % number)
    else :
        print ('%d님은 불합격입니다.' % number)

1님은 합격입니다.
2님은 불합격입니다.
3님은 합격입니다.
4님은 불합격입니다.
5님은 합격입니다.

#### 2. for 문과 continue 문

In [ ]:
marks = [90, 25, 67, 45, 80]
number = 0
for mark in marks :
    number = number + 1
    if mark < 60 :
        continue
    else :
        print('%d님 합격을 축하합니다. 합격하셨습니다.'% number)

1님 합격을 축하합니다. 합격하셨습니다.
3님 합격을 축하합니다. 합격하셨습니다.
5님 합격을 축하합니다. 합격하셨습니다.

#### 3. for 문과 함께 자주 사용하는 range 함수

In [ ]:
a = range(1,20)
print(a)

range(1, 20)

In [ ]:
add = 0
a = range(1, 11)
for i in a :
    add = add + i
print(add)

55

In [ ]:
add = 0
a = range(1, 11)
for i in a :
    add = add + i
    print(add)

1
3
6
10
15
21
28
36
45
55

- <font color = red>예시 : ren 함수 활용 </blue>

In [ ]:
marks = [90, 25, 67, 45, 80]
for number in range(len(marks)):
    if marks[number] < 60:
        continue
    print("%d번 학생 축하합니다. 합격입니다." % (number+1))

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.
4

#### 5. for와 range를 이용한 구구단

In [ ]:
for a in range(2, 10) :
    for b in range(1, 10) :
        print( a * b, end = ' ')
    print('')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

#### 6. 리스트 컴프리헨션 사용하기

In [ ]:
a = [1, 2, 3, 4]
result = [ ]
for c in a :
    result.append(c * 3)
print(result)

[3, 6, 9, 12]

In [ ]:
a = [1,2,3,4]
result = [num*3 for num in a]
print(result)

[3, 6, 9, 12]

- <font color = 'blue'>만약 [1, 2, 3, 4] 중에서 짝수에만 3을 곱하여 담고 싶다면 리스트 컴프리헨션 안에 if 조건문’을 사용 </font>

In [ ]:
a = [1,2,3,4]
result = [num*3 for num in a if num %2 == 0]
print(result)

[6, 12]

- [표현식 for 항목 in 반복_가능_객체 if 조건문]

In [ ]:
result = [x*y for x in range(2,10)
    for y in range(1,10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]